* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
}
.feed-card{
  border-radius: 5px;
  background-color: white;
  margin: 1rem;
  padding: 0.5rem;
}
.feed-card ol{
  display: block;
  margin-left: 1rem;
  font-size: 15px;
}

#tag-input{
  font-size: 1rem;
}